.Calendar {
  height: 336px;
  margin-top: 16px;
  border-radius: 8px;
  grid-gap: 0px;
  grid-template-rows: 21% 7% 78%;
  font-family: 'Montserrat', sans-serif;

  &.border_solid {
    border: solid 1px grey;
  }
}

.visible {
  display: grid;
}

.hidden {
  display: grid;
  opacity: 0;
  transition: opacity 0.5s ease-in 0s;
}